/* -------------------------------------
CSS reset
    Is a short set of CSS rules that resets the styling of all HTML elements to a consistent baseline so the website will look the same on all browsers
*/

* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    /*The box-sizing property is used to tell the browser what the sizing properties (width and height) should include border-box.*/
    box-sizing: border-box;

    /*reset Chrome user agent styles*/
    -webkit-margin-before: 0px;
    -webkit-margin-after: 0px;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-before: 0px;
    -webkit-padding-after: 0px;
    -webkit-padding-start: 0px;
    -webkit-padding-end: 0px;

    /*reset Firefox user agent styles*/
    -moz-margin-before: 0px;
    -moz-margin-after: 0px;
    -moz-margin-start: 0px;
    -moz-margin-end: 0px;
    -moz-padding-before: 0px;
    -moz-padding-after: 0px;
    -moz-padding-start: 0px;
    -moz-padding-end: 0px;

    /*reset Internet Explorer user agent styles*/
    -ms-margin-before: 0px;
    -ms-margin-after: 0px;
    -ms-margin-start: 0px;
    -ms-margin-end: 0px;
    -ms-padding-before: 0px;
    -ms-padding-after: 0px;
    -ms-padding-start: 0px;
    -ms-padding-end: 0px;

    /*reset Opera user agent styles*/
    -o-margin-before: 0px;
    -o-margin-after: 0px;
    -o-margin-start: 0px;
    -o-margin-end: 0px;
    -o-padding-before: 0px;
    -o-padding-after: 0px;
    -o-padding-start: 0px;
    -o-padding-end: 0px;
}


body {
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
}

.content {
    padding: 0 0.938rem;
    margin: 0 auto;
    min-width: 37.5rem;
}

:focus {
    outline: none;
}

ul {
    list-style: none;
    padding: 0;
}


/*//////////////////////// Nav section ////////////////////////*/

.nav {
    background-color: #fff;
    position: fixed;
    width: 100%;
    border-bottom: 1px solid #DDD;
    z-index: 9999;
    margin-top: -.5rem;
}

.nav> .content {
    height: 4.375rem;
}

.nav .logo {
    height: 4.375rem;
    margin-left: -13rem;
    ;
}

.nav .links {
    float: right;
    color: #838994;
    font-size: 1.04rem;
    margin-top: 1.7rem;
}

.nav .links li {
    display: inline-block;
    margin-left: 1.563rem;
}

.nav .links li a {
    text-decoration: none;
    color: #838994;
}

.nav .links li:hover {
    cursor: pointer;
    color: #333333;
}


/*//////////////////////// Intro Section ////////////////////////*/

.intro {
    background: url('../img/level4.jpg') no-repeat center bottom;
    background-size: cover;
    height: 45.938rem;
    overflow: auto;
}

.intro h1,
.intro h3 {
    color: white;
    text-align: center;
    font-weight: 300;
}

.intro h1 {
    margin-top: 17.5rem;
    font-size: 3.125rem;
}

.intro h3 {
    margin-top: 1.25rem;
    font-size: 1.563rem;
}


/*//////////////////////// Containers for conent and resource  ////////////////////////*/

.resource-button-holder {
    text-align: center;
}

.resource-button {
    background-color: #42c299;
    text-align: center;
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    border-style: none;
    border-radius: 5px;
    text-align: justify;
    color: white;
}

/*//////////////////////// The buttons ////////////////////////*/

.intro .buttons {
    color: white;
    text-align: center;
    margin-top: 1.563rem;
}

.mainbutton {
    background-color: green;
    width: 9.688rem;
    border-style: none;
    border-radius: 4px;
    padding: 1rem 1.5rem;
    color: white;
    font-size: 1.125rem;
}

.mainbutton:hover {
    background-color: lightgreen;
    cursor: pointer;
}


/*//////////////////////// levels sections ////////////////////////*/


/*level0*/

.level {
    background: url('../img/level.jpg') no-repeat center bottom;
    background-size: cover;
    height: 45.938rem;
    overflow: auto;
}

.level h1,
.level h3 {
    color: white;
    text-align: center;
    font-weight: 300;
}

.level h1 {
    margin-top: 17.5rem;
    font-size: 3.125rem;
}

.level h3 {
    margin-top: 1.25rem;
    font-size: 1.563rem;
}


/*level1*/

.level1 {
    background: url('../img/level1.jpg') no-repeat center bottom;
    background-size: cover;
    height: 49rem;
    overflow: auto;
}

.level1 h1,
.level1 h3 {
    color: white;
    text-align: center;
    font-weight: 300;
}

.level1 h1 {
    margin-top: 10.5rem;
    font-size: 3.125rem;
}

.level1 h3 {
    margin-top: 1.25rem;
    font-size: 1.563rem;
}


/*level2*/

.level2 {
    background: url('../img/level2.jpg') no-repeat center bottom;
    background-size: cover;
    height: 49rem;
    overflow: auto;
}

.level2 h1,
.level2 h3 {
    color: white;
    text-align: center;
    font-weight: 300;
}

.level2 h1 {
    margin-top: 10.5rem;
    font-size: 3.125rem;
}

.level2 h3 {
    margin-top: 1.25rem;
    font-size: 1.563rem;
}


/*level3*/

.level3 {
    background: url('../img/level3.jpg') no-repeat center bottom;
    background-size: cover;
    height: 49rem;
    overflow: auto;
}

.level3 h1,
.level3 h3 {
    color: white;
    text-align: center;
    font-weight: 300;
}

.level3 h1 {
    margin-top: 10.5rem;
    font-size: 3.125rem;
}

.level3 h3 {
    margin-top: 1.25rem;
    font-size: 1.563rem;
}


/*level4*/

.level4 {
    background: url('../img/level.jpg') no-repeat center bottom;
    background-size: cover;
    height: 52rem;
    overflow: auto;
}

.level4 h1,
.level4 h3 {
    color: white;
    text-align: center;
    font-weight: 300;
}

.level4 h1 {
    margin-top: 10.5rem;
    font-size: 3.125rem;
}

.level4 h3 {
    margin-top: 1.25rem;
    font-size: 1.563rem;
}


/*level5*/

.level5 {
    background: url('../img/level7.jpg') no-repeat center bottom;
    background-size: cover;
    height: 49rem;
    overflow: auto;
}

.level5 h1,
.level5 h3 {
    color: white;
    text-align: center;
    font-weight: 300;
}

.level5 h1 {
    margin-top: 10.5rem;
    font-size: 3.125rem;
}

.level5 h3 {
    margin-top: 1.25rem;
    font-size: 1.563rem;
}



/*//////////////////////// Levels breake sectionS ////////////////////////*/

.level-type {
    background-color: #fff;
    overflow: hidden;
    padding-bottom: 5rem;
}

.break {
    margin-bottom: 5rem;
}

h3 span {
    font-size: 50px;
    color: #838994;
}

.level-type .content {
    margin-top: 7.875rem;
    padding: none;
    color: #1d1e21;
    text-align: center;
}

.level-type h2 {
    font-size: 2.75rem;
    margin: 1.625rem 0 3.125rem;
    font-weight: 300;
}

.level-type .break > li {
    width: 33.3333333%;
    float: left;
}

.level-type .break h3 {
    font-weight: 400;
    font-size: 1.563rem;
    margin: 2.5rem 0px 1.875rem;
}

.break-text p {
    font-size: 10px !important;
}

.level-type .break p {
    font-weight: 300;
    font-size: 1.313rem;
}



/*////////////////////////Content box ////////////////////////*/

.content-container {
    background-color: white;
    text-align: center;
    padding: 0.5rem 1rem;
    border-style: none;
    border-radius: 5px;
    text-align: justify;
    text-justify: inter-word;
    color: black;
}


.scientist-search-form {
    display: block;
    text-align: left;
}
.scientist-search-form .input-placeholder, .scientist-search-form button{
    display: inline-block;
}

.content-box {
    text-align: center;
}

.search-results {
    background-color: white;
    border-radius: 4px;
    height: 100%;
    width: 47.5%;
    margin-top: 1rem;
    margin-left: 1%;
    margin-right: 1%;
    font-size: 1rem;
    background-color: white;
    border-radius: 5px;
    margin-bottom: 2rem;
    display: inline-block;
    text-align: justify;
    vertical-align: top;
    padding: 15px;
}
.search-results p{
    display:block;
    margin: 15px;
    height: 200px;
    overflow-y: auto;
}


.title {
    color: #e65e11;
    font-size: 1.25rem;
    padding-bottom: 0.25rem;
    padding-left: 1rem;
    padding-top: 0.5rem;
}

.author {
    font-size: 1rem;
    padding-left: 1rem;
    color: #333;
}

.author span {
    font-weight: bold;
}

.abstract {
    text-align: justify;
    padding-left: 1rem;
    padding-right: 1rem;
}

.pdf-buttons {
    color: white;
    text-align: left;
    margin-top: 0.5rem;
    margin-left: 1rem;
    margin-bottom: 2rem;
}

.pdf {
    background-color: green;
    border-style: none;
    border-radius: 4px;
    padding: 0.75rem 1rem;
    color: white;
    font-size: .75rem;
}




/*//////////////////////// Footer ////////////////////////*/

.footer {
    background-color: #fff;
    overflow: auto;
    padding-bottom: 9.375rem;
    text-align: center;
    padding-bottom: 0;
    text-decoration: none;
}

.footer hr {
    border: 0;
    border-top: 1px solid #eaebec;
    margin: 1.313rem 0;
}

.footer hr a {
    text-decoration: none;
    list-style: none;

}


/*////////////////////////END OF LAYOUT ////////////////////////*/


/* Responsive Design */

@media (min-width: 48rem) {
    .content {
        width: 46rem;
    }
}

@media (min-width: 62rem) {
    .content {
        width: 60rem;
    }
}

@media (min-width: 75rem) {
    .content {
        width: 60%;
    }
}


/* Chrome - Safari - Opera */

@-webkit-keyframes bounce {
    0%,
    100% {
        margin-top: 0px;
    }
    50% {
        margin-top: 2rem;
    }
}


/* Standard syntax */

@keyframes bounce {
    0%,
    100% {
        margin-top: 0px;
    }
    50% {
        margin-top: 2rem;
    }
}
